@import '../_base';

.container {
  display: flex;
  height: 100%;
  background-color: $bgColor3;
}

// 侧边栏
.sider {
  min-height: calc(100vh - 0.8rem);
  width: 18%;
  max-width: 2rem;
}

// 右侧内容
.main {
  flex: 1;
  padding: 0.3rem;
  overflow: auto;
}
